<div class="logo-container">
	<div class="logo">
		<img src="../images/WhatsApp Image 2024-07-09 at 20.01.22_8bf3b4ac.jpg" alt="Bowl for logo" />
		<a href="/"> Simple Recipe</a>
	</div>
	<div class="search-container">
		<input class="search" placeholder="Search" type="text"/>
		<img  src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" width=25/>
	</div>
</div>
<div class="menu-options-container">
	<ul>
		<li><a>Category</a></li>
		<li><a>Country</a></li>
		<li><a>Lates</a></li>
		<li><a>Popular Ingredients</a></li>
		<li><a>Random Meal</a></li>
	</ul>
</div>
